body {
    font-family: "Times New Roman", serif;
    background-color: #ffffff;
}

h2 {
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 220px); 
    gap: 10px;                               
}

.faculty {
    border: 1px solid #000;  
    padding: 8px;           
}
.faculty h3 {
    font-size: 14px;        
    margin: 0 0 6px 0;
    text-align: center;
}

.faculty ul {
    list-style-type: disc;
    margin-left: 15px;
}

.faculty li {
    font-size: 13px;         
    margin: 2px 0;
}
